<!DOCTYPE html>
<html>
<head>
    <title>Grades</title>
</head>
<body>
    <h1>Grades</h1>
    <ul>
        {% for grade in grades %}
        <li>{{ grade.student.name }} - {{ grade.course.name }}: {{ grade.grade }} - <a href="{% url 'grade_update' grade.id %}">Edit</a> - <a href="{% url 'grade_delete' grade.id %}">Delete</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'grade_create' %}">Add New Grade</a>
    <br>
    <a href="{% url 'index' %}">Back to home</a>
</body>
</html>
